body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("https://pics.freeartbackgrounds.com/fullhd/Sea_Sunrise_Sky_and_Sea_Background-464.jpg") center no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    height: 460px;
    max-width: 700px;

    text-align: center;

    margin: 0 auto;
}

.intro_image{
    width: 25%;
}

.intro_title{
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 45px;
}

.intro_subtitle{
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 20px;
}

.btn{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-transform: uppercase;

    border: 3px solid #fff;

    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;

    transition: background-color .1s linear, color .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

.hobby_table{
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.hobby_container{
    width: 100%;
    height: 200px;

    display: flex;
    text-align: center;
    justify-content: center;
}

.hobby{
    position: relative;
    text-decoration: none;
    flex: 1 1 0;
    background-color: black;
}

.hobby:hover .hobby_img1{
    opacity: 0.3;
    transition: all 0.2s linear;
}

.hobby:hover .hobby_text{
    opacity: 1;
    transition: all 0.2s linear;
}

.hobby_img1{
    width: 100%;
    height: 200px;
    opacity: 1;
}

.hobby_text{
    width: 100%;
    opacity: 0;

    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

.hobby_title{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.hobby_description{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

.footer{
    background-color: #333;
    display: flex;
    width: 100%;
    text-align: center;
}

.foot_btn{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-transform: uppercase;

    border: 3px solid #333;

    font-family: 'Arimo', sans-serif;
    padding: 10px 25px;
    text-decoration: none;

    transition: background-color .1s linear, color .1s linear;
}

.foot_btn:hover{
    background-color: #fff;
    border: 1px #fff;
    border-radius: 20%;
    color: #333;
}

.footer_title{
    color: #fff;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}

.footer_img{
    width: 40px;
    height: 40px;
}

.social{
    flex: 1 1 0;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;

    font-size: 20px;
}